.page-width {
    max-width: 1200px;
}

.ahf-color {
  color: #4fc0b9;
}

a {
  color: #4fc0b9;
}

a:hover, a:focus {
  text-decoration-line: none;
  color: #4fc0b9;
  font-weight: bold;
}

a.button {
  background-color: #4fc0b9;
  color:white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: normal;
}

a.button:hover, a.button:focus {
  color:white;
  font-weight: bold;
}

.border-white {
  border: 1px solid white;
}


body, html {
  font-family:"Work Sans", "Open Sans", sans-serif;
  color:#575555;
  background-color:#fff;
}

body,input,textarea,button,select {
  font: size 18px;
  font-family:"Work Sans", "Open Sans", sans-serif;
  color:#575555;
  line-height:1.5;
}

.h00 { font-size: 4rem }
.h0 { font-size: 3rem }
h1, .h1 { font-size: 2rem }
h2, .h2 { font-size: 1.5rem }
h3, .h3 { font-size: 1.25rem }
h4, .h4 { font-size: 1rem }
h5, .h5 { font-size: .875rem }
h6, .h6 { font-size: .75rem }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: #4fc0b9;
  text-align: center;
  text-transform: uppercase;
  font-family: "Raleway", "lora", sans-serif, serif;
  font-weight: bold;
  position: relative;
}

h1 a, .h1 a,
h2 a, .h2 a,
h3 a, .h3 a,
h4 a, .h4 a,
h5 a, .h5 a,
h6 a, .h6 a {
  color:inherit;
  text-decoration:none;
  font-weight:inherit
}

.background-image-filter-5,
.background-image-filter-4,
.background-image-filter-3,
.background-image-filter-2 {
  background-color: black;
  height: 100%;
  width: 100%;
}

.background-image-filter-5 {
  opacity: 0.5;
}

.background-image-filter-4 {
  opacity: 0.4;
}

.background-image-filter-3 {
  opacity: 0.3;
}

.background-image-filter-2 {
  opacity: 0.2;
}

.opacity-1 {
  opacity: 1;
}

.flex {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}

.flex > div {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.object-fit-cover-child-img img {
  object-fit: cover;
}


/* ==========================================================================
   Paper
   ========================================================================== */

.paper-outer {
    background-color: #f8f8f8;
}

.paper-inner {
  margin: 1em 0.2em 4em 0.2em;
  padding: 0.5em;
  background-color: white;
  box-shadow: 0 30px 50px 0 rgba(1,1,1,.15);
}

@media(min-width: 600px) {
  .paper-inner {
    padding: 2em;
    margin-left: 2em;
    margin-right: 2em;
  }
}


/* ==========================================================================
    Cards 
   ========================================================================== */

.card-container {
    margin-left: -0.5rem;       /* negative margin, offset by the positive margin on each card */
    margin-right: -0.5rem;
}

.card {
  margin: 1rem 0.5rem 4rem 0.5rem;
  background-color: white;
  box-shadow: 0 30px 4rem 0 rgba(1,1,1,.15);
}

.card ul {
    margin: 0;
}

@media(min-width: 600px) {
  .card-container {
    margin-left: -1.2rem;
    margin-right: -1.2rem;
  }

  .card {
    margin: 1.2rem;
  }
}


/* ==========================================================================
   Header Announcement Bar
   ========================================================================== */

#HeaderAnnouncement {
  background-color: #4fc0b9;
  color: white;
  height: 40px;
}

  #HeaderAnnouncement span {
    padding-top: 0.4rem
  }

@media (max-width:900px) {
  #HeaderAnnouncement {
    display: none;
  }
}


/* ==========================================================================
   Header
   ========================================================================== */

header {
  background-color: white;
}

header > div {
  margin: 0 auto;
  padding: 0.7rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapper amp-img {
  max-width: 180px;
  min-height: 50px;
}

.header-navbar {
   border:none;
   font-size: 1.5rem;
   line-height: 2;
   /* padding-bottom: 0em; */
}

@media (max-width:900px) {
  .header-navbar nav {
    display: none;
  }
}

.header-navbar nav ul {
  display: inline-block;
  margin: 0;
  padding: 0.2em 0 0 0;
}

.header-navbar nav ul li {
  display:inline;
  list-style-type: none;
  padding-right: 2rem;
}
.header-navbar nav ul li:last-of-type {
  padding-right: 0;
}

.header-navbar nav ul li a {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
  color: #575555;
}

.header-navbar nav ul li a:hover,
.header-navbar nav ul li a.active {
    color: #4fc0b9;
}

/* #ActivateHeaderImage {
  background-image: url("/img/activate-health-fitness-banner-2.jpg");
  background-size: cover;
  width: 100vw;
  height: 90vh;
} */


/* ==========================================================================
   Hero Image Text
   ========================================================================== */

.hero-image-text {
  color: white;
  font-size: 10rem;
  text-shadow: black 1px 1px 0;
}


/* ==========================================================================
   Parallax
   ========================================================================== */

.parallax-container {
  position: relative;
  overflow: hidden;
}

.parallax-image-window {
  overflow: hidden;
}

#ActivateHealthFitnessBanner .parallax-overlay-text {
  color: white;
  top: 45%;
  left: 30%;
  position: absolute;
  z-index: 1;
}

#ActivateHealthFitnessBanner .parallax-image-window amp-img {
  margin-bottom: -20%;
}


/* ==========================================================================
   Full width Carousel
   ========================================================================== */

.carousel-full-width
{
  margin-bottom: -20px;   /* fix whitespace at bottom */
}
.carousel-full-width amp-img > img.i-amphtml-replaced-content {
  object-fit: cover;
}


/* ==========================================================================
   Funky polygon clipped section
   ========================================================================== */

.funky-section {
  background-image: linear-gradient(90deg, #32aca4 0,#4fc0b9);
  padding:6rem;
  font-size:18px;
  text-align:center;
  color:white;
  clip-path: polygon(100% 100%, -500% 0, 100% 0);   /* Use http://bennettfeely.com/clippy/ */  
}
.funky-section h1, .funky-section h2, .funky-section h3 {
  color: white;
  font-size: 40px;
}


  /* ==========================================================================
   Flying carpet
   ==========================================================================*/

   .flying-carpet-text-overlay-container {
    position: relative;
  }
     
  .flying-carpet-text-overlay {
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: white;
    z-index: 1;
  
  }
  
  .flying-carpet-text-overlay amp-fit-text {
    height: 280px;
  }
  
  /* ==========================================================================
     Carousel
     ==========================================================================*/
  
  .i-amphtml-scrollable-carousel-container {
     overflow-x: hidden !important; /* hide the scrollbar */
  }
  
  .amp-carousel-button {
    background-color: #4fc0b9;
  }
    
  .amp-carousel-slide {
    padding-right: 2.5rem;
  }
  .amp-carousel-slide:last-of-type {
    padding-right: 0;
  }
  
  .carousel-heading,
  .carousel-text {
    max-width: 320px;
    overflow-x: hidden;
    text-align: center;
    white-space: normal;
  }
  
  .carousel-heading {
    font-size: 17px;
    font-weight: bold;
  }
  
  .carousel-text {
    white-space: normal;
    font-weight: 100;
    padding-bottom: 1rem;
  }


/* ==========================================================================
   Announcements
   ========================================================================== */
   
   #BottomAnnouncement {
    background-color: #4fc0b9;
    color: white;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
  }
  
  
  /* ==========================================================================
    Footer
    ========================================================================== */
  
  footer,
  .footer-contact,
  footer .social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: top; 
  }
  
  .footer-contact {
    flex-direction: column;
  }
  
  
  footer {
    background-color:rgba(209, 206, 206, 0.37);
    padding: 4em 0 3em 0;
  }
  
  .footer-heading {
    font-weight: bold;
    color: #4fc0b9;
  }
  
  footer .social-icons > div {
    padding-right: 1rem;
  }
  
  footer .social-icons > div:last-child {
    padding-right: 0;
  }
 
  
  /* footer ul {
    color: #000000;
    padding: 0 0;
    margin: 0 0;
  } */
  
  /* @media only screen and (min-width: 576px) {
    footer .contact-info {
        text-align:left;
    }
  }
  
  footer .social-icons {
    text-align:center;
    margin-bottom:1em;
  }
  @media only screen and (min-width: 576px) {
    footer .social-icons {
        text-align:left;
    }
  }
  
  footer .copyright {
    text-align:center;
  }
  @media only screen and (min-width: 576px) {
    footer .copyright {
        text-align:right;
    }
  }
  
  .footer-nav {
    font-size: 18px;
    color: #3d4246;
    line-height: 0.50;
  } */
  
  
/* ==========================================================================
   Content Pages
   ==========================================================================*/

   #SectionOneContent {
    background-color: #4fc0b9;
    padding: 2rem;
  }
  
  #SectionOneContent > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: top; 
    color: white;
  }
  
  #SectionOneContent > div > div {
    flex-basis: 30rem;
    margin-top: 1rem;
  }
  
  .special-intro {
    font-weight: 100;
    line-height: 45px;
    font-size: 32px;
    letter-spacing: 0.5px;
  }
  
  .special-content {
    font-weight: 100;
    line-height: 28px;
    font-size: 18px;
    letter-spacing: 0.5px;
  }
  
  #FurtherInformation { 
    padding: 2rem;
  }
  
  #FurtherInformation > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: top; 
  }
  
  #FurtherInformation > div > div {
    flex-basis: 30rem;
    margin-top: 2rem;
  }
 
  

/* =============================
   Special Services section - Contents Pages
   ============================= */

   .special-services-section {
    padding:2rem;
    font-size:18px;
    text-align:center;
    color: #575555;
  }
  
  .special-services-section-text {
    max-width: 250px;
  }
  
  .special-services-section .flex > div:hover,
  .special-services-section .flex > div:focus {
    transform: scale(1.2);
  }
  
  

/* ==========================================================================
   Homepage 
   ========================================================================== */

/* ==============================
   Homepage Services section
   ============================== */

  .home-services-section {
    padding:2rem;
    font-size:18px;
    text-align:center;
    color: #575555;
  }

  .home-services-section-text {
    max-width: 250px;
  }
    
  .home-services-section img {
    filter: grayscale(100%);
  }

  .home-services-section img:hover,
  .home-services-section img:focus {
    filter: grayscale(0);
  }

  .home-services-section .flex > div:hover,
  .home-services-section .flex > div:focus {
    transform: scale(1.2);
  }



/* ===============================
   Activate News
   =============================== */

#ActivateNews {
  background-color: #58636d;
  color: white;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}

#ActivateNews h1 {
  color: white;
}



/* ==========================================================================
   Services Page
   ==========================================================================*/

.services-page-accordion {
  width: 100%;
  display: grid;
  grid-row-gap: 2rem;
  grid-template-areas: "selector"
                       "main";
}

@media (min-width: 700px) {
  .services-page-accordion {
    grid-template-areas: "selector main";
    grid-template-columns: 2fr 5fr;
  }
}

.services-page-accordion-selector {
  grid-area: selector;
}
  .services-page-accordion-selector .h2 {
    background-color: #4fc0b9;
    color:white;
    padding: 2rem 1rem;
    font-size: 1.3rem;
    font-weight: normal;
    margin-bottom: 2px;
  }

  .services-page-accordion-selector .h2.active {
    background-color:white;
    color: rgb(38, 172, 161);
    font-weight: bold;
    font-size: 1.5rem;
  }

.services-page-accordion-main {
  grid-area: main;
  position: relative;
  padding: 1rem 3rem;
  height: 100%;
}

.services-page-accordion-main .card {
  min-width: 20rem;
}


/* ==========================================================================
   PT Page
   ==========================================================================*/

#ThePTTeam {
  background-color: rgba(209, 206, 206, 0.37);
  padding: 2rem;
}  

#PTPageHeaderImage {
  background-image: url("/img/personal-training-banner1.jpg");
  background-size: cover;
  width: 100vw;
  height: 90vh;
}

#GoalsBackgroundImage {
  background-image: url("/img/goals-background.jpg");
  background-size: cover;
  width: 100vw;
  height: 90vh;
}


/* ==========================================================================
   Our Team Page
   ==========================================================================*/



/* ==========================================================================
   Events Page
   ==========================================================================*/


/* ==========================================================================
   Contact Page
   ==========================================================================*/


